.row-footer{   
    background-color:black;
    color:orangered;
    font-size:30px;
    display:flex;
    justify-content:space-around;
    border:5px solid white;
}

.headshot{
    width:20%;
   
}
.mid{
    background-color:royalblue;
    color:gold;
    align-items:center;
    font-size:25px;
    margin-top:5px;
    margin-bottom:5px;
    display:flex;
    justify-content:center;
    border:5px solid;
}

.aboutme{
    border:1px solid black;
    display:flex;
    justify-content:center;
}
.rowcontact{
    display:flex;
justify-content:center;
}