.row-footer{   
    background-color:black;
    color:orangered;
    font-size:30px;
    display:flex;
    justify-content:space-around;
    border:5px solid white;
}

.headshot{
    width:20%;
   
}
.mid{
    background-color:royalblue;
    color:gold;
    align-items:center;
    font-size:25px;
    margin-top:5px;
    margin-bottom:5px;
    display:flex;
    justify-content:center;
    border:5px solid;
}

.aboutme{
    border:1px solid black;
    display:flex;
    justify-content:center;
}
.rowcontact{
    display:flex;
justify-content:center;
}
.covers{
    display:flex;
    justify-content:column;
}
.fanpage{
    position: absolute;
    width:400px;
    height:250px;
    top:490px;
}
.RPS{
    position: absolute;
    width:400px;
    height:250px;
    top:740px;
}
.quiz{
    position: absolute;
    width:400px;
    height:250px;
    top:990px;
}
.playlist{
    position: absolute;
    width:400px;
    height:250px;
    top:1240px;
}
.FP{
    position: absolute;
    top:600px;
    left:450px;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    border:6px dotted red;
    background-color: gold;
}
.rpsLink{
    position: absolute;
    top:800px;
    left:450px;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    border:6px solid blue;
    background-color: green;
}
.buzz{
    position: absolute;
    top:1000px;
    left:450px;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    border:6px dotted purple;
    background-color: pink;
}
.list{
    position: absolute;
    top:1200px;
    left:450px;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    border:6px dotted orange;
    background-color: yellow;
}